.main{

    text-align: center;

    &__slider{

        
        img{
            
            width: 19rem;
            height: 14.125rem;

            @include breakpoint-up(large){
                width: 22.625rem;
                height: 16.8125rem;
            }

        }
    }

    &__text{
            
        h1{
        
            font-family: 'Raleway', sans-serif;
            font-size: $font-xl;
            font-weight: 700;
    
            @include breakpoint-up(large){
                font-size: $font-lg;
            }
        }
    
        p{
            color: $gray;
            font-size: 1rem;
            @include breakpoint-up(large){
                font-size: 0.625rem;
            }
        }
    
        a{
            color: $white;
            font-size: 0.75rem;
            @include breakpoint-up(large){
                font-size: 0.5rem;
            }
        }

    }

}