.review{

    background-color: $mainDarkBlue;
    padding-top: 10rem;
    @include breakpoint-up(medium){
        padding-top: 1rem;
    }

    .container--pall{
        padding-top: 1.5625rem;
        padding-bottom: 1.5625rem;
        padding-right: 4.25rem;
        padding-left: 4.25rem;

        @include breakpoint-up(large){
            padding-top: 2.3125rem;
            padding-bottom: 2.3125rem;
            padding-right: 10rem;
            padding-left: 10rem;
        }
    }

    &__quotes{
        position: relative;
        top: 0.5rem;
        left: 1.3rem;
        z-index: 1;
        vertical-align: middle;

        @include breakpoint-up(medium){
            top: 0.5rem;
            left: -0.3rem;
        }
    }

    &__grid{

        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
        }

    }

    &__item{
        background-color: $introDarkBlue;
        border-radius: 0.2rem;
        width: 22rem;
        height: auto;
        margin: auto;
        padding: 1rem 2rem;
        z-index: 2;

        @include breakpoint-up(medium){
            width: 20rem;
            margin: 0;
        }

        &:first-child::before{
            background-image: url('/dist/images/bg-quotes.png');
            background-size: 100% 100px;
        }

        p{
            font-size: 0.7625rem;
            line-height: 1.5;
        }
    }

    &__info{
        display: flex;
        flex-direction: row;
    }

    &__avatar{
        img{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
        }
    }

    &__text{
        margin-left: 10px;
    }

    &__name{
        font-size: 0.575rem;
        margin-bottom: 1px;
    }

    &__role{
        font-size: 0.5125rem;
        color: $gray;
    }

}