// Colors

    // Primary

        $introDarkBlue : hsl(217, 28%, 15%); // intro and email sign up background
        $mainDarkBlue : hsl(218, 28%, 13%); // main background
        $footerDarkBlue : hsl(216, 53%, 9%); // footer background
        $testiDarkBlue : hsl(219, 30%, 18%); // testimonials background

    // Accent

        $cyan : hsl(176, 68%, 64%); // inside call-to-action gradient
        $blue : hsl(198, 60%, 50%); // inside call-to-action gradient

    //Neutral

        $white: hsl(0, 0%, 100%);
        $gray:  #BDC3D1;

// Typography

    $font-sm: 0.875rem;
    $font-md: null;
    $font-lg: 1.375rem;
    $font-xl: 1.625rem;